@font-face {
    font-family: 'ubuntu';
    src: local('ubuntu'),
    url(../fonts/Ubuntu-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu';
    src: local('ubuntu'),
    url(../fonts/Ubuntu-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu';
    src: local('ubuntu'),
    url(../fonts/Ubuntu-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}


body{
    max-width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    background-color: #e1efe6;
}

body::-webkit-scrollbar{
    display: none;
}


img{
    max-width: 100%;
    display: block;
    object-fit: contain;
    border-radius: 15px;
}

input{
    max-width: 100%;
}

*{
    padding: 0;
    margin: 0;
}

header{
    padding: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    background-color: #2589BD;
    color: #fff;
    text-transform: uppercase;
}

main{
    display: grid;
    grid-template-columns: 1fr min-content;
}

.questions{
    padding: 20px;
    display: grid;
    grid-template-columns: min-content 2fr 120px min-content;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content;
    column-gap: 10px;
    row-gap: 20px;
}

.questions .attributes{
    text-transform: uppercase;
    border-bottom: 1px solid black;
}

.questions .result{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.questions input{    
    text-align: center;
    font-size: 40px;
    background-color: rgba(0,0,0, 0);
    border-radius: 15px;
}

.questions .answer{
    justify-self: center;
}

.questions .res{
    justify-self: center;
}

a{
    text-decoration: none;
    color:black ;
    grid-column: 3 / 4;
    font-size: 24px;
    font-weight: bold;
    justify-self: center;
}

button{
    grid-column: 4 / 5;
    border: none;
    background-color: rgba(0,0,0, 0);
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

.input_container{
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input_container input{
    font-size: 20px;
    padding: 10px 15px;
}

.btn{
    padding: 5px 20px;
    background-color: #2589BD;
    border-radius: 25px;
    color: white;
    text-transform: uppercase;
    transition: 1s;
}

.btn:hover{
    background-color: #3D96C3;
}

.btn2{
    grid-column: 4 / 5;
}

.btn3{
    margin: 20px;
    width: 70px;
}

.images{
    justify-content: center;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.images div{
    width: 300px;
}

.questions img{
    border-radius:0;
    margin: 5px 0 10px 0;
}

table{
    border-collapse: collapse;
    border-spacing: 0px;
    margin-bottom: 0;
}

table, tr, td{
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}

.table_attributes{
    text-align: left;
}

.container{
    display: grid;
    grid-template-columns: 1fr min-content;
}

.subtittle{
    padding-top: 10px;
}

.cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.cont_1{
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 10px;
}

.card{
    background-color:#187795 ;
    padding: 10px;
    color: #fff;
    border-radius: 15px;
}

.card .img_frame{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 10px;

}

ul{
    padding: 15px 5px;
    background-color: #2589BD ;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: grid;
    gap: 5px;
}

li{
    list-style-type: none;
}

.final_result{
    margin: 20px;
}
